.card-invoice .invoice-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.card-invoice .invoice-header .invoice-title {
    font-size: 27px;
    font-weight: 400;
}

.card-invoice .invoice-header .invoice-logo {
    width: 150px;
    display: flex;
    align-items: center;
}

.card-invoice .invoice-header .invoice-logo img {
    width: 100%;
}

.card-invoice .sub {
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 600;
}

.card-invoice .info-invoice {
    padding-top: 15px;
    padding-bottom: 15px;
}

.card-invoice .info-invoice p {
    font-size: 13px;
}

.card-invoice .invoice-desc {
    text-align: right;
    font-size: 13px;
}

.card-invoice .invoice-detail {
    width: 100%;
    display: block;
}

.card-invoice .invoice-detail .invoice-top .title {
    font-size: 20px;
}

.card-invoice .transfer-to .sub {
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 600;
}

.card-invoice .transfer-to .account-transfer>div span:first-child {
    font-weight: 600;
    font-size: 13px;
}

.card-invoice .transfer-to .account-transfer>div span:last-child {
    font-size: 13px;
    float: right;
}

.card-invoice .transfer-total {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-invoice .transfer-total .sub {
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 600;
}

.card-invoice .transfer-total .price {
    font-size: 28px;
    color: #5791E5;
    padding: 7px 0;
    font-weight: 600;
}

.card-invoice .transfer-total span {
    font-weight: 600;
    font-size: 13px;
}

.card-invoice .card-body {
    padding: 0;
    border: 0px !important;
    width: 75%;
    margin: auto;
}

.card-invoice .card-header {
    padding: 50px 0px 20px;
    border: 0px !important;
    width: 75%;
    margin: auto;
}

.card-invoice .card-footer {
    padding: 5px 0 50px;
    border: 0px !important;
    width: 75%;
    margin: auto;
}

.card, .card-light {
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 30px;
    -webkit-box-shadow: 2px 6px 15px 0px rgba(69, 65, 78, 0.1);
    -moz-box-shadow: 2px 6px 15px 0px rgba(69, 65, 78, 0.1);
    box-shadow: 2px 6px 15px 0px rgba(69, 65, 78, 0.1);
    border: 0px;
}

.card .card-header, .card-light .card-header {
    padding: 1rem 1.25rem;
    background-color: transparent;
    border-bottom: 1px solid #ebecec !important;
}

.card .card-header:first-child, .card-light .card-header:first-child {
    border-radius: 0px;
}

.card .card-header .card-head-row, .card-light .card-header .card-head-row {
    display: flex;
    align-items: center;
}

.card .card-header .card-head-row .card-tools, .card-light .card-header .card-head-row .card-tools {
    margin-left: auto;
    float: right;
    padding-left: 15px;
}

.card .separator-solid, .card-light .separator-solid {
    border-top: 1px solid #ebecec;
    margin: 15px 0;
}

.card .separator-dashed, .card-light .separator-dashed {
    border-top: 1px dashed #ebecec;
    margin: 15px 0;
}

.card .separator-dot, .card-light .separator-dot {
    border-top: 1px dotted #ebecec;
    margin: 15px 0;
}

.card .full-width-separator, .card-light .full-width-separator {
    margin: 15px -20px 15px;
}

.card .b-b1, .card-light .b-b1 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.card .card-body, .card-light .card-body {
    padding: 1.25rem;
}

.card .card-footer, .card-light .card-footer {
    background-color: transparent;
    line-height: 30px;
    border-top: 1px solid #ebecec !important;
    font-size: 13px;
}

.card .pull-in, .card-light .pull-in {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
}

.card .pull-in.sparkline-fix, .card-light .pull-in.sparkline-fix {
    margin-left: -1.35rem;
    margin-right: -1.35rem;
    margin-bottom: -3px;
}

.m-auto {
    margin: auto !important
}

.card .chart-as-background, .card-light .chart-as-background {
    position: absolute;
    bottom: 0;
    width: calc(100% + 2px);
}

.card .card-action, .card-light .card-action {
    padding: 30px;
    background-color: transparent;
    line-height: 30px;
    border-top: 1px solid #ebecec !important;
    font-size: 14px;
}

.card .card-footer hr, .card-light .card-footer hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.card .card-footer .legend, .card-light .card-footer .legend {
    display: inline-block;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-black {
    background: #1a2035 !important;
    color: #ffffff !important;
}

.btn-black:hover, .btn-black:focus, .btn-black:disabled {
    background: #1a2035 !important;
    color: #ffffff !important;
}
